<style>
  img {
    height: 56px;
    width: 56px;
  }

  .panel-heading {
    background-color: #0C8397;
    color: white;
  }

</style>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center ">
      <i class="fa fa-5 fa-suitcase pull-left" aria-hidden="true"></i>
      <span class="text-center">
        Recent Transactions
      </span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search by typing" (ngModel)="searchString"
                   name="searchString" (ngModelChange)="filterTransactions($event)">
          </div>
        </div>
        <div class="col-xs-12 col-md-offset-4 col-md-4">
          <label style="line-height: 40px;">Sort By:</label>
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default"
                    (click)="sortTransactions(TransactionSortCriteria.DATE)">
              Date
              <i [class]="dateSorted ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="sortTransactions(TransactionSortCriteria.BENEFICIARY)">
              Beneficiary
              <i [class]="beneficiarySorted ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
            </button>
            <button type="button" class="btn btn-default"
                    (click)="sortTransactions(TransactionSortCriteria.AMOUNT)">
              Amount
              <i [class]="amountSorted ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="list-group">
            <div *ngFor="let transaction of filteredTransactions" class="list-group-item"
                 [style.border-left]="'10px solid ' + transaction.categoryCode">
              <div class="row">
                <div class="col-xs-1 col-md-1">
                  <label class="date">
                    {{getLocaleDateString(transaction.transactionDate)}}
                  </label>
                </div>
                <div class="col-xs-3 col-md-1">
                  <img
                    [src]="transaction.merchantLogo ? domSanitizer.bypassSecurityTrustUrl(transaction.merchantLogo) : 'assets/unknown-person.png'">
                </div>
                <div class="col-xs-5 col-md-7">
                  {{transaction.merchant}}
                  <br/>
                  {{transaction.transactionType}}
                </div>
                <div class="col-xs-2 col-md-3">
                  <label class="pull-right">
                    <b>-${{transaction.amount}}</b>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
