<style>
  .submit-button {
    background-color: #EE7033;
    color: white;
    float: right;
    width: 200px;
  }

  .bold {
    font-weight: 700;
  }
  .modal-dialog {
    width: 400px;
  }
  .panel-heading {
    background-color: #0C8397;
    color: white;
  }
</style>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading text-center ">
    <i class="fa fa-5 fa-exchange pull-left" aria-hidden="true"></i>
    <span class="text-center">
        Make A Transfer
      </span>
  </div>
  <div class="panel-body">
    <form #transactionForm="ngForm">
      <div class="form-group">
        <label for="fromAccount">From Account</label>
        <input [value]="user.currentUserName + ' $' + user.currentUserBalance" type="text" class="form-control" id="fromAccount" placeholder="From Account"
               disabled name="currentUser">
      </div>
      <div class="form-group">
        <label for="toAccount">To Account</label>
        <input [(ngModel)]="transaction.merchant" type="text" class="form-control" id="toAccount"
               placeholder="To Account" name="merchant" required="required">
      </div>
      <div class="form-check">
        <label for="amount">Amount</label>
        <input [(ngModel)]="transaction.amount" type="number" class="form-control" id="amount"
               placeholder="Amount" #field="ngModel" [min]="1" [max]="getMaxTransactionLimit()" name="amount" required="required">
        <p *ngIf="field.errors?.min">The amount is invalid</p>
      </div>
      <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-lg submit-button" id="btnSubmit"
              [disabled]="!transactionForm.valid">Submit
      </button>
    </form>
  </div>
</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Transaction Summary</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-2 bold">
            From:
          </div>
          <div class="col-xs-6">
            {{user.currentUserName}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 bold">
            To:
          </div>
          <div class="col-xs-6">
            {{transaction.merchant}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 bold">
            Amount:
          </div>
          <div class="col-xs-6">
            {{transaction.amount}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Transfer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
