/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Kanit';
}
